<ion-header >
  <ion-toolbar >
    <ion-buttons slot="start">
      <ion-button routerLink="/nuevoproducto">
 
       <ion-icon slot="icon-only" name="add">
 
       </ion-icon>
 
      </ion-button>
      <ion-buttons slot="start">
        <ion-menu-button menu="first" color="primary"></ion-menu-button> <!--estalinea se aumenta para el menu-->
      </ion-buttons>
     
    </ion-buttons>
    <ion-title>Productos</ion-title>

    
   
   <ion-buttons slot="end" >
    <ion-button routerLink="/pruebas">

     <ion-icon name="cart-outline">
     </ion-icon>
     </ion-button>
    <ion-badge color="light" >{{CantidadProductoDeseo}}</ion-badge>
  </ion-buttons>

  </ion-toolbar>
</ion-header>